{% extends "index.html" %}

{% load static%}
{% block title %}
Create new blog post
{% endblock %}

{% block content %}
{{ block.super }}
<section class="content">
    <div class="container">
		<div class="row">
			<div class="post-content post-modern col-md-9">
				<div class="hr-title hr-long center"><abbr>Create your event</abbr> 
				</div>
				<form action="" method="POST" enctype="multipart/form-data" style="width:50%">
				    {% csrf_token %}
				    {% for field in form.fields %}
						<div class="form-group">
	      			<label for="id_{{ field }}">{{ field }}:</label>
	      			<input id="id_{{ field }}" type="{{ field}}" name="{{ field }}" class="form-control input-lg required" required>
	      			</div>
					{% endfor %}
				    <button type="submit" class="btn btn-primary">Create </button>
				</form>
			</div>
		</div>
	</div>
</section>

{% endblock %}
